
@model PosVM
@{
    ViewData["Title"] = "Create";
}



<style>
    .main-content {
        padding: 30px 30px 0;
        -webkit-box-flex: 1;
        flex: 1 0 auto;
    }

    .row.justify-content-center {
        width: 100%;
        margin: auto;
    }

    .logo-area {
        float: left;
        width: 20%;
    }

        .logo-area img {
            height: 50px;
            width: 50px;
        }

    .invoice-header {
        overflow: hidden;
    }

    .address-area {
        margin-bottom: 1rem;
        font-style: normal;
        line-height: inherit;
        float: right;
        width: 50%;
    }

    .bill-date {
        width: 100%;
        border: 1px solid #ccc;
        overflow: hidden;
        padding: 0 15px;
    }

    .bill-no, .date, .name, .mobile-no, .address, th, td, address, h4 {
        color: #000;
    }

    .bill-no {
        width: 50%;
        float: left;
    }

    .date {
        width: 50%;
        float: left;
    }

    .name, .address, .mobile-no, .cus_info {
        width: 100%;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 0 15px;
    }

    b, strong {
        font-weight: 600;
    }

    .custom-background {
        background-color: #e4e7ea;
    }
</style>











<header class="header bg-ui-general">
    <div class="header-info">
        <h1 class="header-title">
            <strong>POS Manage</strong>
        </h1>
    </div>
</header>
<div class="main-content">
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body">

                        <form asp-action="create" method="POST">
                            <div class="row">
                                <div class="mb-3 col-md-6">


                                    <label>Product</label>
                                    @if (Model.ProductList != null)
                                    {
                                        <select class="form-control basic-select2" asp-items="@Model.ProductList" id="ProductList">
                                            <option selected value="">Select Product</option>
                                        </select>
                                    }

                                </div>
                                <div class="mb-3 col-md-6">


                                    <label>Sales Type</label>

                                    <select class="form-control " id="salesType">
                                        <option selected value="1">Retail Sale</option>
                                        <option value="2">Whole Sale</option>
                                    </select>


                                </div>
                            </div>

                            @* <div class="form-row">
                            <input type="text" class="form-control" name="Sales.SalesDate">
                            </div>*@

                            <div class="row">



                                <div class="col-md-6">
                                    <div class="d-flex">
                                        <div class="mb-3">
                                            <select class="form-control" asp-items="@Model.CustomerList" id="customer">
                                                <option selected>Walking Customer</option>
                                            </select>
                                        </div>
                                        <span class="mx-2">
                                            <button class="btn btn-info btn-sm"><i class="fa-solid fa-circle-plus"></i></button>
                                        </span>
                                    </div>
                                   
                                   
                                </div>
                               


                            </div>




                            <div class="row">
                                <div class="col-md-12 mt-4">
                                    <table class="table table-sm table-bordered" id="SellProduct">
                                        <thead class="bg-success text-light">
                                            <tr>
                                                <th>Name</th>
                                                <th>QTY</th>
                                                <th>Price</th>
                                                <th>Sub T</th>
                                                <th>
                                                    <a href="#" id="clearList" class="text-light">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody id="tbody">
                                        </tbody>

                                        <tfoot class="bg-secondary text-light">
                                            <tr>
                                                <th class="text-center" colspan="2">
                                                    <strong>  Total Qty: <span id="TotalQtyTxt">0</span>  <input type="hidden" value="0" id="sellTotalQty" /> </strong>

                                                </th>
                                                <th class="text-center" colspan="3">
                                                    <strong> Total: <span id="grandTotalTxt">0</span> Tk <input type="hidden" value="0" name="Sales.GrandTotal" id="PurchaseGrandTotal" /> </strong>

                                                </th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <div class="text-center">
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-danger" id="goPayment" data-toggle="modal" data-target="#goModal">
                                            Payment
                                        </button>
                                    </div>
                                  

                                    <!-- Modal -->
                                    <div class="modal fade" id="goModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Payment</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <hr />                                            
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-bordered text-left">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%">
                                                                    <strong class="float-left">Paying Items: </strong>
                                                                    <strong class="float-right">(<span id="items">0</span>)</strong>
                                                                </td>
                                                                <td>
                                                                    <strong class="float-left">Total Receivable: </strong>
                                                                    <strong class="float-right">(<span id="receivable"></span> Tk)</strong>
                                                                    <input type="hidden" name="receivable_amount" id="receivable_input" value="96000">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="50%">
                                                                    <strong class="float-left">After Discount : </strong>
                                                                    <strong class="float-right"> (<span id="after_discount"></span> Tk)</strong>
                                                                </td>
                                                                <td>
                                                                    <strong class="float-left">Balance </strong>
                                                                    <strong class="float-right"> (<span id="balance"></span> Tk)</strong>
                                                                    <input type="hidden" name="balance" id="balance_input" value="-96000">
                                                                </td>
                                                            </tr>



                                                        </tbody>
                                                    </table>
                                                    <hr />
                                                    <div class="form-row">

                                                        <div class="form-group col-md-6">
                                                            <label for="">Transection Account</label>
                                                            <select name="bank_account_id" class="form-control" required="">
                                                                <option value="1">
                                                                    CASH
                                                                </option>
                                                            </select>
                                                        </div>





                                                        <div class="form-group col-md-6">
                                                            <label for="pay_amount">Pay Amount</label>
                                                            <div class="input-group">
                                                                <input type="number" step="any" class="form-control" name="pay_amount" id="pay_amount" placeholder="Pay Amount...">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-warning" type="button" id="paid_btn">PAID!</button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    
                                                    <a href="" id="loadInvoice" class="btn btn-success" data-toggle="modal" data-target="#invoicePage">Order</a>
                                                    @*<button class="btn btn-success" data-toggle="modal" data-target="#loadInvoice">Order</button>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <!-- Button trigger modal -->
                                   

                                    <!-- Modal -->
                                    <div class="modal fade" id="invoicePage"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                   
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-12 card card-body">
                                                                    <div id="print-area">
                                                                        <div class="invoice-header">
                                                                            <div class="logo-area">
                                                                                <img src="~/theme/images/logo/pos-icon.jpg">
                                                                            </div>
                                                                            <div class="address-area">
                                                                                <address>
                                                                                    Address : <strong>Dhaka,Mirpur</strong>
                                                                                    <br>
                                                                                    Phone : <strong>00000008888</strong>
                                                                                    <br>


                                                                                </address>
                                                                            </div>


                                                                        </div>

                                                                        <div class="bill-date">
                                                                            <div class="bill-no">
                                                                                Invoice No: 01919191
                                                                            </div>
                                                                            <div class="date">
                                                                                Date: <strong>02/02/23</strong>
                                                                            </div>
                                                                        </div>
                                                                        <div class="name">
                                                                            Customer Name :
                                                                            <strong id="customerName"></strong>
                                                                        </div>
                                                                        <div class="address">
                                                                            Address : <strong>Jessore</strong>
                                                                        </div>
                                                                        <div class="mobile-no">
                                                                            Mobile : <strong id="number"></strong>
                                                                        </div>



                                                                        <table class="table table-bordered table-sm table-plist my-3 order-details">
                                                                            <tbody>
                                                                                <tr class="custom-background">
                                                                                    <th>#</th>
                                                                                    <th>Details</th>
                                                                                    <th>Qty</th>
                                                                                    <th>Price</th>
                                                                                    <th>Net.A</th>
                                                                                </tr>
                                                                                @* @{
                                                                                var cntr = 1;
                                                                                }
                                                                                @foreach (var product in Model.SalesItems)
                                                                                {
                                                                                <tr>
                                                                                <td>@cntr</td>
                                                                                <td>@product.ProductName | @product.ProductCode </td>
                                                                                <td>@product.MainUnitQuantity @product.UnitName @product.SubUnitQuantity @product.SubUnitName  </td>
                                                                                <td>@product.Price</td>
                                                                                <td>@product.SubTotal</td>
                                                                                </tr>
                                                                                cntr++;
                                                                                }*@


                                                                                <tr>
                                                                                    <td colspan="4" class="text-right">Grand Total : </td>
                                                                                    <td>
                                                                                        <strong id="grandPrice"> </strong>Tk
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td colspan="4" class="text-right">Paid : </td>
                                                                                    <td>
                                                                                        <strong  id="paidPrice"> </strong>Tk
                                                                                    </td>
                                                                                </tr>

                                                                                <tr>
                                                                                    <td colspan="4" class="text-right"> Due : </td>
                                                                                    <td>
                                                                                        <strong>
                                                                                            0
                                                                                        </strong>Tk
                                                                                    </td>
                                                                                </tr>

                                                                            </tbody>
                                                                        </table>


                                                                    </div>
                                                                    <button class="btncustom-background btn-block" onclick="printinvoice('print-area')">
                                                                        <i class="fa fa-print"></i>
                                                                        Print
                                                                    </button>
                                                                    <div class="row mt-4">
                                                                        <div class="col-6">
                                                                            <a href="/Purchase/Create" class="btn btn-success btn-block">
                                                                                <i class="fa fa-reply"></i>
                                                                                New Sale
                                                                            </a>
                                                                        </div>

                                                                        <div class="col-6 text-end">
                                                                            <a href="/Purchase/Index" class="btn btn-warning btn-block">
                                                                                <i class="fa fa-reply"></i>
                                                                                Sale List
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>

                        </form>










                    </div>
                </div>
               
            </div>
        </div>

        <div class="modal fade" id="alert-modal" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="text-center">
                            <h3>Please add some products.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    




</div>




@section Scripts
    {
    <script src="~/js/Pos/pos.js"></script>
    
}